*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}



nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #0f161b;
    font-family: 'Bungee', cursive;
}

.banner {
    height: 300px;
    width: 95%;
    background-color: rgb(233, 233, 233);
    border-radius: 30px;
    -webkit-box-shadow: 5px 5px 11px 2px rgba(0,0,0,0.29); 
    box-shadow: 5px 5px 11px 2px rgba(0,0,0,0.29);
    background-image: url('../imagenes/banner.jpg');
    background-position: center;
    background-size: contain;
}

.contenedor {
    background: rgb(81,115,4);
    background: linear-gradient(10deg, rgba(81,115,4,1) 0%, rgba(0,255,237,1) 100%);
    height: 100%;
}

.productos {
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

.titulo {
    font-family: 'Bungee', cursive;
    font-size: 50px;
}

.cantidad {
    font-family: 'Arial', cursive;
}

.producto {
    height: 430px;
    width: 28%;
    background-color: rgb(233, 233, 233);
    border-radius: 30px;
    -webkit-box-shadow: 5px 5px 11px 2px rgba(0,0,0,0.29); 
    box-shadow: 5px 5px 11px 2px rgba(0,0,0,0.29);
}

.uno {
    background-image: url('../imagenes/uno.jpg');
    background-position: center;
    background-size: cover;
}
.dos {
    background-image: url('../imagenes/dos.jpg');
    background-position: center;
    background-size: cover;
}
.tres {
    background-image: url('../imagenes/tres.jpg');
    background-position: center;
    background-size: cover;
}

.cuatro {
    background-image: url('../imagenes/cuatro.jpg');
    background-position: center;
    background-size: cover;
}

.cinco {
    background-image: url('../imagenes/cinco.jpg');
    background-position: center;
    background-size: cover;
}

.seis {
    background-image: url('../imagenes/seis.jpg');
    background-position: center;
    background-size: cover;
}

.logo{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
#contador {
    font-family: 'Bungee', cursive;
    font-size: 20px;
}

.nav-links{
  
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li{
    list-style:none;
}

li {
    padding-left: 25px;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
}

.burger{
    display: none;
    cursor: pointer;
}


.burger div{
    width:  25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}



footer{
    padding-top: 30px;
    bottom: 0;
    background: #0f161b;
    height: auto;
    width: 100%;
    font-family: 'Bungee', cursive;
    
}

.cantidad-producto {
    float: right;
    width: 140px;
    height: 50px;
    background-color: rgb(202, 202, 202);
    border: 3px solid rgb(110, 110, 110);
    border-radius: 30px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    font-weight: 900;
    color: rgb(39, 39, 39);
    font-size: 30px;
}

.addremove {
    background-color: rgb(248, 247, 247);
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 100px;
    text-align: center;
    cursor: pointer;
    width: 50px;
}

.addremove:hover {
    background-color: rgb(54, 54, 54);
    color: white;
}


img {
    width: 30px;
}

.footer-content{
    display: flex;
    background: #0f161b;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fcfcfc;
}

.footer-content h3{
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: capitalize;

}

.destacados {
    padding-top: 20px;
}

.redes_sociales {
    display: flex;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color:  rgb(24, 60, 80);
    border-radius: 20px;
    color: white;
}

.fa {
    color: white;
    font-size: 30px;
} 

.fa:hover {
    color: rgb(211, 211, 211);
    font-size: 33px;
}

@media screen and (min-width:1397px){
    .banner {
        background-size: cover;
    }
}

@media screen and (max-width:1230px){
    nav{
        display: block;
    }

    .nav-links {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .form {
        width: 80%;
    }
    .banner {
        background-image: url('../imagenes/bannerResponsive.jpg');
    }

}


#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    font-family: 'Bungee', cursive;
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }